<style type="text/css">
  body {
    background-image: url(<%= asset_path 'dark-stone-repeating.jpg' %>);
  }
  .main-container {
    background-color: transparent;
  }
</style>

<div class="celebrities-random">
  <%= content_tag "div", id: "celebrities-data-div", data: {celebrities: @celebrities } do %>
  <% end %>

  <div class="row">
    <div class="col-sm-3">
      <div id="button-label">Suggest Famous Person</div>
      <button id="spin-button" type="button" class="">Click Me!</button>
    </div>
    <div class="col-sm-6">
      <%= render 'shared/slotmachine' %>
    </div>
    <div class="col-sm-3">
      <div class="celeb-display"></div>
    </div>
  </div>

</div>
