<div class="celebrities-random">
  <%= content_tag "div", id: "celebrities-data-div", data: {celebrities: @celebrities } do %>
  <% end %>
  <button id="suggest-celeb-button" type="button" class="btn btn-default">Suggest Famous Person</button>
  <div class="celeb-display"></div>
</div>
