<div id="stage-container">
  <div id="stage">
    <div id="rotate">
      <div id="slots-ring" class="ring">
        <div class="ring-slat" style="-webkit-transform: rotateX(0deg) translateZ(100px); transform: rotateX(0deg) translateZ(100px);"><p style=""></p></div>
        <div class="ring-slat" style="-webkit-transform: rotateX(30deg) translateZ(100px); transform: rotateX(30deg) translateZ(100px);"><p style=""></p></div>
        <div class="ring-slat" style="-webkit-transform: rotateX(60deg) translateZ(100px); transform: rotateX(60deg) translateZ(100px);"><p style=""></p></div>
        <div class="ring-slat" style="-webkit-transform: rotateX(90deg) translateZ(100px); transform: rotateX(90deg) translateZ(100px);"><p style=""></p></div>
        <div class="ring-slat" style="-webkit-transform: rotateX(120deg) translateZ(100px); transform: rotateX(120deg) translateZ(100px);"><p style=""></p></div>
        <div class="ring-slat" style="-webkit-transform: rotateX(150deg) translateZ(100px); transform: rotateX(150deg) translateZ(100px);"><p style=""></p></div>
        <div class="ring-slat" style="-webkit-transform: rotateX(180deg) translateZ(100px); transform: rotateX(180deg) translateZ(100px);"><p style=""></p></div>
        <div class="ring-slat" style="-webkit-transform: rotateX(210deg) translateZ(100px); transform: rotateX(210deg) translateZ(100px);"><p style=""></p></div>
        <div class="ring-slat" style="-webkit-transform: rotateX(240deg) translateZ(100px); transform: rotateX(240deg) translateZ(100px);"><p style=""></p></div>
        <div class="ring-slat" style="-webkit-transform: rotateX(270deg) translateZ(100px); transform: rotateX(270deg) translateZ(100px);"><p style=""></p></div>
        <div class="ring-slat" style="-webkit-transform: rotateX(300deg) translateZ(100px); transform: rotateX(300deg) translateZ(100px);"><p style=""></p></div>
        <div class="ring-slat" style="-webkit-transform: rotateX(330deg) translateZ(100px); transform: rotateX(330deg) translateZ(100px);"><p style=""></p></div>
      </div>
    </div>
  </div>
  <div id="slots-mask"></div>
</div>
