<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cardExportTest</title>
    <%= stylesheet_link_tag "cards/cards" %>
  </head>

  <body>

    <div class="export-container">
      <%= render 'layouts/card' %>
    </div>

    <script type="text/javascript">
      var qcard = document.getElementsByClassName('qcard')[0];
      var qcardWidth = qcard.scrollWidth;
      qcard.style.fontSize = (qcardWidth / 26) + "px";
    </script>

  </body>
</html>
