// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: segoe;
  src:font-url('SEGOEPRB.TTF');
}

.export-container {
  font-size: 14px;
  h1 {
    font-weight: 500;
    line-height: 1.1;
  }
  // width: 400px;
}

.qcard-back {
  width: 100%;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.qcard {
  font-size: 14px;
  position: relative;
  border-radius: 9.8%/7%;
  width: 100%;
  background: #ffffff;
  border: 1px solid black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.428571429;

  .q-card-spacer {
    display: block;
  	padding-bottom: 140%; 	/* initial ratio of 1:1*/
  }

  h1 {
    margin-top: 0;
  }

  .q-card-content {
    &.hearts, &.diamonds {
      color: red;
    }
    &.spades, &.clubs {
      color: black;
    }
    position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;

    .number-suit {
      position: absolute;
      padding: 8% 8%;
      font-size: 4em;
      text-align: center;
      line-height: 0.9;
    }
    .top {top:0;}
    .bottom {
      bottom:0;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .left {left:0;}
    .right {right:0;}

    .q-card-content-top {
      height: 21%;
      margin-top: 7%;
      padding: 0% 17%;
      font-size: 1.8em;
      text-align: center;
      font-family: segoe;
      h1 {
        font-size: 1.3em;
      }
    }
    .q-card-content-middle {
      height: 63%;
      padding: 0% 10%;
      font-size: 1.8em;
      text-align: center;
      font-family: segoe;
    }
    .q-card-footer {
      font-family: Arial;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-bottom: 10%;
      font-size: 0.75em;
    }
    .vertical-align {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .one-third-align {
        position: relative;
        top: 33%;
        -webkit-transform: translateY(-33%);
        -ms-transform: translateY(-33%);
        transform: translateY(-33%);
    }
  }
}
