// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.qcard {
  position: relative;
  border-radius: 25px;
  width: 100%;
  background: #eeeeee;
  border: 1px solid black;

  .q-card-spacer {
    display: block;
  	padding-bottom: 140%; 	/* initial ratio of 1:1*/
  }

  h1 {
    margin-top: 0;
  }

  .suit-icon {
    position: relative;
    top: -5px;
  }

  .q-card-content {
    &.hearts, &.diamonds {
      color: red;
    }
    &.spades, &.clubs {
      color: black;
    }
    position:  absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
    padding: 3px 20px;
    .number-suit {
      position: absolute;
      padding: inherit;
      font-size: 3em;
      table {
        border-collapse: collapse;
        text-align: center;
      }
      td span {
        display: inline-block;
      }
      .shift {
        position: relative;
        top: -0.5em;
      }
    }
    .top {top:0;}
    .bottom {
      bottom:0;
      transform: rotate(180deg);
    }
    .left {left:0;}
    .right {right:0;}

    .q-card-content-inner {
      padding: 8% 14%;
      font-size: 1.2em;
      text-align: center;
    }
  }
}
