// Place all the styles related to the Celebrities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: impactlabel;
  src:font-url('ImpactLabel.ttf');
}

.celebrities-random {
  #button-label {
    background-size: contain;
    display: table;
    text-align: center;
    margin: 0 auto;
    padding: 0 3px;
    font-family: impactlabel;
    color: black;
    background-color: #eeeeee;
    font-size: 18px;
  }
}
