@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

#card-list {
  margin-top: 10px;
}

.deck-header-button-group {
  float: right;
}

.qcard {
  border-radius: 25px;
  background: lightblue;
  padding: 20px;

  h1 {
    margin-top: 0;
  }

  .suit-icon {
    position: relative;
    top: -5px;
  }
}

@media (min-width: 768px) {
  .deck-header-row {
    position: relative;
  }

  .deck-header-buttons {
    position: absolute;
    bottom:0;
    right:0;
  }
}
