@font-face {
  font-family: typewriter;
  src:font-url('OldTypewriterMessy.ttf');
}

@font-face {
  font-family: impactlabel;
  src:font-url('ImpactLabel.ttf');
}

@font-face {
  font-family: segoe;
  src:font-url('SEGOEPRB.TTF');
}
