// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.games-whoami {
  min-height: 600px;
  .qcard-hand {
    margin-top: 20px;
    display: none;
  }
  .qcard {
    &.selected {
      background: lightgreen;
    }
    cursor: pointer;
    margin: 2em auto;
    @include media-breakpoint-down(xs) {
      width: 80%;
    }
  }
  .qcard-answer-box {
    margin-top: 20px;
    background: lightblue;
    display: none;
    #interview-log {
      // max-height: 50vh;
      // overflow: scroll;
      min-height: 50vh;
      background: #fcf2b9;
      padding: 10px;
    }
  }
  .player-guess-box {
    margin-bottom: 20px;
    background: lightblue;
    #player-guess {
      width: 90%;
      margin: 20px 5%;
    }
    .wiki-search-results {
      width: 90%;
      margin: 0px 5% 20px 5%;
      background: lightgreen;
      border: 1px solid black;
      min-height: 50px;
    }
  }
  .replay-box {
    margin-top: 20px;
    margin-bottom: 20px;
    background: lightblue;
    display: none;
  }
  .debug-celeb-name {
    display: none;
  }
  .intro-box {
    text-align: center;
  }
  .i-am-box {
    text-align: center;
    #whoami-blank {
      display: inline-block;
      *display: inline;/* for IE7*/
      *zoom:1;/* for IE7*/
      min-width: 9em;
      border-bottom: 1px solid black
    }
  }
  .spin-box {
    margin-top: 10px;
  }
  .undealt {
    // left offscreen?
    left: -150vw;
  }
  .dealt {
    // left not offscreen?
    -webkit-animation: fromleft 0.5s ease;
    animation: fromleft 0.5s ease;
    left: 0;
  }
  @-webkit-keyframes fromleft {
    0%    { left: -150vw; }
    100%  { left: 0; }
  }
  @keyframes fromleft {
    0%    { left: -150vw; }
    100%  { left: 0; }
  }
}
