// styling related to the slot machine and button

@font-face {
  font-family: typewriter;
  src:font-url('OldTypewriterMessy.ttf');
}

.games-whoami, .celebrities-random {
  #stage-container {
    position: relative;
    padding: 80px 2%;
    margin: 0 auto;
    height: 50px;
    width: 90%;
    border: 5px solid grey;
    box-sizing: content-box;
  }

  #slots-mask {
    position: absolute;
    top: -5px;
    left: 0;
    /*width: 98%;*/
    width: 100%;
    height: 60px;
    /*background-color: red;*/
    opacity: 0.15;
    /*padding: inherit;*/
    padding-top: inherit;
    padding-bottom: inherit;
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-clip: content-box, padding-box;
    box-sizing: content-box;
  }

  #stage {
    -webkit-perspective: 800px;
    perspective: 800px;
  }

  #rotate {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .ring {
    margin: auto auto;
    height: 50px;
    /*width: 300px;*/
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .ring-slat {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 50px;
    color: rgba(0,0,0,0.9);
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #cccccc;
    background-image: image-url('paper-repeating.jpg');
  }

  .ring-slat > p {
    font-family: typewriter;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .spinning {
    -webkit-animation: xspin 3s ease;
    animation: xspin 3s ease;
  }

  @-webkit-keyframes xspin {
    0%    { -webkit-transform: rotateX(0deg); }
    100%  { -webkit-transform: rotateX(-1080deg); }
  }

  @keyframes xspin {
    0%    { transform: rotateX(0deg); }
    100%  { transform: rotateX(-1080deg); }
  }

  #spin-button {
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    background-image: linear-gradient(top, #f7f7f7, #e7e7e7);
    color: #bbb;
    width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    margin-top: 30px;
    margin: 40px auto;
  }
  #spin-button:before {
    content: "";
    background: #fff;
    border-top: 2px solid #ddd;
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: inset 0px 8px 48px #ddd;
  }
  #spin-button:hover {
    text-decoration: none;
    color: #bbb;
    background: #f5f5f5;
  }
  #spin-button:active {
    text-decoration: none;
    color: #bbb;
    background: #f5f5f5;
    box-shadow: 0px 2px 4px #aaa, inset 0px 1px 2px #fff;
  }
  #spin-button:focus {
    outline: 0;
  }
}
