<div class="decks-sortinggame">
  <%= content_tag "div", id: "card-data-div", data: {cards: @deck.cards.card_ordered } do %>
  <% end %>

  <h1>Stupidest Card Game</h1>

  <div class="row">
    <div class="col-sm-12" id="sg-instructions">
      Text to walk you through
    </div>
  </div>

  <div class="row" id="card-choices">
    <div class="col-sm-3">
      <div class="qcard2">
        card
      </div>
    </div>
    <div class="col-sm-3">
      <div class="qcard2">
        card
      </div>
    </div>
    <div class="col-sm-3">
      <div class="qcard2">
        card
      </div>
    </div>
    <div class="col-sm-3">
      <div class="qcard2">
        card
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-sm-12">
      <span>
        <button id="back-button" class="btn btn-primary" type="submit">Back</button>
        <button id="next-button" class="btn btn-primary" type="submit">Next</button>
      </span>
    </div>
  </div> -->
  <div class="footer navbar-fixed-bottom sg-buttons">
    <span>
      <button id="back-button" class="btn btn-primary" type="submit">Back</button>
      <button id="next-button" class="btn btn-primary" type="submit">Next</button>
    </span>
  </div>
</div>
